<nav>
    <ul class="navigation">        
        <li><a href="{{site.url}}/archive/"{% if page.url contains "/archive/" %}class="active"{% endif %} title="Archived articles"><i class="fa fa-archive"></i></a></li>
        <li><a href="{{site.url}}/feed.xml" title="Subscribe to RSS feed"><i class="fa fa-rss"></i></a></li>
        <li><a href="{{site.url}}/about/"{% if page.url contains "/about/" %}class="active"{% endif %} title="About this blog"><i class="fa fa-question"></i></a></li>
        <li><a href="//mikaellundin.name" target="_new" title="About me"><i class="fa fa-user"></i></a></li>
        <li><a href="//twitter.com/mikaellundin" target="_new" title="Mikael Lundin on Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="//github.com/miklund/tailcalloptimized" target="_new" title"Tail Call Optimized on Github"><i class="fa fa-github-alt"></i></a></li>
    </ul>
<nav>
