<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and Toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo navbar-brand" href="{{site.url}}" itemprop="url">
                <span itemprop="name">{{ site.title }}</span>
            </a>
        </div>

        <!-- Navigation starts here -->
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="active dropdown">
                    <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">blog</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{site.url}}/archive/"{% if page.url contains "/archive/" %}class="active"{% endif %} title="Archived articles">archive</a>
                        </li>
                        <li>
                            <a href="{{site.url}}/about/"{% if page.url contains "/about/" %}class="active"{% endif %} title="About this blog">about</a>
                        </li>
                        <li>
                            <a href="{{site.url}}/feed.xml" title="Subscribe to RSS feed">feed</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="#" >work</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://www.amazon.com/Testing-F-Mikael-Lundin/dp/1784391239/" title="Testing with F# book at Amazon">testing with f#</a>
                        </li>
                        <li>
                            <a href="/replay/" title="r3pl4y">replay</a>
                        </li>
                        <li>
                            <a href="/kino/">kino</a>
                        </li>
                        <!--
                        <li>
                            <a href="//pokeit.mikaellundin.name" title="poke.it">poke.it</a>
                        </li>
                        -->
                    </ul>

                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">me</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://mikaellundin.name" target="_new" title="About me">profile</a>
                        </li>
                        <li>
                            <a href="//github.com/miklund" title="Mikael Lundin at github">code</a>
                        </li>
                        <li>
                            <a href="https://se.linkedin.com/in/miklund" title="Mikael Lundin at linkedin">cv</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/contact/" title="Get in touch">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
