.index {
    .meta {

        // float right on medium to large devices
        @media (min-width: $screen-lg-min) {
            text-align: left;

            .profile-image {
                float: left;
            }

            .author-name {
                float: left;
            }

            .social-media-icons {
                float: left;
            }

            // make sure each element has its own row
            & > * {
                margin-right: 100%;
            }
        }

    }
}
