// smaller screens
@media (max-width: $screen-xs-max) {
    /* hide text and show logo */
    .logo {
        background: url('../img/logo.png') no-repeat left center;
        background-size: 40px 40px;
        text-indent: -9999px;
        width: 48px;
        height: 48px;
        margin-left: 15px;
    }
}
