---
layout: post
title: "{{post_name}}"
description: 
date: {{post_date}}
tags: 
assets: {{assets_dir}}
image: {{assets_dir}}/title.jpg

author: 
    name: Mikael Lundin
    email: hello@mikaellundin.name 
    web: http://mikaellundin.name
    twitter: mikaellundin
    github: miklund
    linkedin: miklund
---

Scaffold of new post
