<!DOCTYPE HTML>
<html class="nojs" lang="en" prefix="og: http://ogp.me/ns#">
    {% include head.html %}
    <body itemscope itemtype="http://schema.org/Blog">   
        <a class="sr-only sr-only-focusable" href="#content">
            <div class="container">
                <span class="skiplink-text">Skip to main content</span>
            </div>
        </a>
        <header class="hero-image " role="banner">
                {% include navigation.html %}
            </div>
        </header>                 

        <div id="main" class="container">
            {{ content }}
        </div>


        {% if page.path contains '_posts' %}
            {% include disqus.html %}
            {% include analytics.html %}
            {% include pagescript.html %}       
        {% else %}
            {% include analytics.html %}
            {% include pagescript.html %}       
        {% endif %}
    </body>
</html>
