---
layout: default
---

<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

    <!-- START: META -->
    {% if page.image %}
    <meta itemprop="name" content="{{page.title}}">
    <meta itemprop="image" content="{{site.url}}/{{page.image}}">
    <meta itemprop="url" content="{{site.url}}{{ page.url }}">
    <meta itemprop="description" content="{{ page.description }}">
    <meta itemprop="keywords" content="{{ page.tags }}">
    {% endif %}
    <!-- END: META -->

    <header class="meta col-lg-3" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <img class="profile-image" src="{{ page.author.email | to_gravatar }}" alt="{{ page.author.name }}" itemprop="image" />
        <div class="author-info">
            <span class="author-name" itemprop="name">{{ page.author.name }}</span>
            <div class="social-media-icons">
                {% if page.author.web %}
                <a itemprop="url" href="{{ page.author.web }}" title="Homepage of {{ page.author.name }}"><i class="fa fa-home"></i></a>
                {% endif %}
                {% if page.author.twitter %}
                <a href="//twitter.com/{{ page.author.twitter }}" title="{{ page.author.name }} on Twitter"><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if page.author.github %}
                <a href="//github.com/{{ page.author.github }}" title="{{ page.author.name }} on GitHub"><i class="fa fa-github"></i></a>
                {% endif %}
                {% if page.author.linkedin %}
                <a href="//linkedin.com/in/{{ page.author.linkedin }}" title="{{ page.author.name }} on LinkedIn"><i class="fa fa-linkedin"></i></a>
                {% endif %}
            </div>
        </div>
    </header>

    
    <div class="content col-lg-9">
        <info class="published" datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">
            {{ page.date | date: "%B %d, %Y" }}
        </info>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <div itemprop="articleBody">
        {{ content }}
        </div>
        <div class="comments">
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink" itemprop="discussionUrl">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>
</article>


